body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* HOME PAGE VIEW START */
.homePage {
  text-align: center;
  background-size: cover;
}
/* HOME PAGE VIEW END */

/* NAV BAR VIEW START */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .title {
  color: #6c215d;
  font-family: 'Princess Sofia', cursive;
  padding-left: 18px;
  font-size: 48px;
}

.navbar img {
  background-color: blue;
  max-width: 35px;
  height: 35px;
  border-radius: 4px;
}
/* NAV BAR VIEW END */

/* START PRODUCT CARD ON ALL PRODUCTS VIEW */
.potion-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product-card {
  width: 300px;
  text-align: center;
  background-color: #b1dbef;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  margin: 15px;
  display: inline-block;
}

.product-card img {
  max-width: 125px;
}

.product-card input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-card button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END PRODUCT CARD ON ALL PRODUCTS VIEW */
/* ////////////// */
/* START SINGLE PRODUCT VIEW */
.product-view {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  padding: 48px;
  background-color: darkolivegreen;
  border-radius: 4px;
  margin-right: 50px;
  margin-left: 50px;
}

.product-view-right {
  width: 50%;
  text-align: center;
  padding-right: 50px;
}

.product-view-left {
  width: 50%;
  padding-left: 50px;
}

.product-view img {
  max-width: 300px;
}

.product-view input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-view button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END SINGLE PRODUCT VIEW  */

/*CART VIEW*/

.cart-image {
  float: left;
  width: 20%;
}
.cart-details {
  float: left;
  width: 37%;
}
.cart-price {
  float: left;
  width: 12%;
}
.cart-quantity {
  float: left;
  width: 10%;
}
.cart-removal {
  float: left;
  width: 9%;
}
.cart-line-price {
  float: left;
  width: 12%;
  text-align: right;
}
.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
/* Apply clearfix in a few places */
.shopping-cart,
.column-labels,
.product,
.totals-item {
  zoom: 1;
}

/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: '$';
}

body {
  padding: 0px 30px 30px 20px;
  font-family: default;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: green;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.cart-image,
.cart-details,
.cart-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.product-image {
  text-align: center;
  width: 100px;
}

.product-title {
  margin-right: 20px;
  font-family: bold;
}

.product-description {
  margin: 5px 20px 5px 0;
  /* line-height: 1.4em; */
}

.product-quantity input {
  width: 40px;
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: bold;
  font-size: 12px;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: #a44;
}

/* Totals section */

.totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals-item-total {
  font-family: bold;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* END CART VIEW*/
