body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding: 10px;
  color: white;
}

form div {
  margin: 1em;
  display: block;
}

form input {
  padding: 8px;
  border-radius: 4px;
}

/* HOME PAGE VIEW START */
.homePage {
  text-align: center;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.homePage button {
  margin: 40px;
  padding: 20px;
  border-radius: 4px;
  background-color: #31aabc;
  font-size: 24px;
  color: white;
}

.homepage .a {
  color: #6c215d;
}
/* HOME PAGE VIEW END */

/* NAV BAR VIEW START */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6c215d;
}

.navbar .title {
  color: white;
  font-family: 'Princess Sofia', cursive;
  padding-left: 18px;
  font-size: 48px;
}

.navbar img {
  background-color: blue;
  max-width: 35px;
  height: 35px;
  border-radius: 4px;
}
/* NAV BAR VIEW END */

/* START PRODUCT CARD ON ALL PRODUCTS VIEW */
.potion-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product-card {
  width: 300px;
  text-align: center;
  background-color: #31aabc;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  margin: 15px;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
}

.product-card img {
  max-width: 125px;
}

.product-card h3 {
  color: white;
}

.product-card input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-card button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END PRODUCT CARD ON ALL PRODUCTS VIEW */
/* ////////////// */
/* START SINGLE PRODUCT VIEW */
.product-view {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  padding: 48px;
  background-color: darkolivegreen;
  border-radius: 4px;
  margin-right: 50px;
  margin-left: 50px;
}

.product-view-right {
  width: 50%;
  text-align: center;
  padding-right: 50px;
}

.product-view-left {
  width: 50%;
  padding-left: 50px;
}

.product-view img {
  max-width: 300px;
}

.product-view input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-view button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END SINGLE PRODUCT VIEW  */

/*CART VIEW*/

.cartbody {
  margin: 0;
  background: #31aabc;
  padding: 30px;
}

.carttitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /* text-transform: uppercase; */
  font-size: 150%;
  font-weight: bold;
}

.cartitems {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart {
  background: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #333a45;
  border-radius: 3px;
  padding: 30px;
}
.cartline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: right;
  margin: 20px 20px 20px 900px;
  font-size: inherit;
  font-weight: normal;
  color: rgba(51, 58, 69, 0.8);
}
.cartlinetwo {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: 20px 20px 20px 50px;
  font-size: inherit;
  font-weight: normal;
  color: rgba(51, 58, 69, 0.8);
}

.cartprice {
  color: #333a45;
  padding: 30px;
  margin: inherit;
}
.cartpricetwo {
  color: #333a45;
  padding: 15px;
  margin: 0px 20px 0px 0px;
}
.carttotal {
  font-size: 130%;
}
.cartremovebutton {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: 0px 20px 20px 80px;
  padding: 20px 60px;
  border-bottom: 2px solid rgba(51, 58, 69, 0.1);
}
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid rgba(51, 58, 69, 0.1);
}
.cartitempreview {
  display: flex;
  align-items: center;
}
.cartitempreviewtwo {
  display: flex;
  align-items: right;
  margin-left: 50px;
  margin-right: 0px;
}
.cartitemthumbnail {
  margin-right: 20px;
  border-radius: 3px;
  size: 80px;
}
.cartpotiondisplay {
  display: flex;
  margin-left: -10px;
  margin-right: 20px;
}
.cartitemtitle {
  /* margin: 0 0 10px 0; */
  margin-left: 10px;
  margin-right: 80px;
  font-size: inherit;
}
.cartitemadjust {
  /* margin: 0 0 10px 0; */
  margin-left: 50px;
  margin-right: 50px;
  font-size: inherit;
}
.cartitemdescription {
  margin: 0;
  color: rgba(51, 58, 69, 0.6);
}
.cartitemquantity {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 30px;
  padding: 8px 12px;
  font-size: inherit;
  color: rgba(51, 58, 69, 0.8);
  border: 2px solid rgba(51, 58, 69, 0.1);
  border-radius: 3px;
  text-align: center;
}
.cartitemprice {
  margin-left: 50px;
  margin-right: 50px;
  font-size: inherit;
}

.form-contact-info,
.form-shipping-address,
.form-billing-address,
.form-payment-info {
  border: solid gray 2px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 8px 6px -6px black;
}

.checkout-button {
  padding: 16px;
}

/* END CART VIEW*/
