body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* HOME PAGE VIEW START */
.homePage {
  text-align: center;
  background-image: url('https://media.giphy.com/media/esjfDnpbkVPCE/giphy.gif');
  background-size: cover;
}
/* HOME PAGE VIEW END */

/* NAV BAR VIEW START */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .title {
  color: forestgreen;
  font-family: cursive;
}

.navbar img {
  background-color: blue;
  max-width: 35px;
  height: 35px;
  border-radius: 4px;
}
/* NAV BAR VIEW END */

/* START PRODUCT CARD ON ALL PRODUCTS VIEW */
.potion-list {
  padding-right: 50px;
  padding-left: 50px;
}

.product-card {
  width: 300px;
  text-align: center;
  background-color: #b1dbef;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  margin: 15px;
  display: inline-block;
}

.product-card img {
  max-width: 125px;
}

.product-card input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-card button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END PRODUCT CARD ON ALL PRODUCTS VIEW */
/* ////////////// */
/* START SINGLE PRODUCT VIEW */
.product-view {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  padding: 48px;
  background-color: darkolivegreen;
  border-radius: 4px;
  margin-right: 50px;
  margin-left: 50px;
}

.product-view-right {
  width: 50%;
  text-align: center;
  padding-right: 50px;
}

.product-view-left {
  width: 50%;
  padding-left: 50px;
}

.product-view img {
  max-width: 300px;
}

.product-view input {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.product-view button {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  background-color: #e9561d;
  color: white;
  font-weight: bold;
}
/* END SINGLE PRODUCT VIEW  */
